/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    font-size: 24px;
}
ol, ul {
    list-style: none;
}
/* End Reset */

/* using "box-sizing: border-box;" (below) from css-tricks: 
Now when we set a width, that element stays 
that width, despite padding or borders being applied.*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* end box-sizing: border-box; */

/*input placeholder style*/
input[type=text] {
	border:	none;
	font-size: 24px;
}

/*end input placeholder syle*/

.topRow {
	width: 100%;
	background-color: white;
	text-align: center;
}

/*logo*/
.shopurr {
	font-family: 'Miniver', cursive;
	color: #D90619;
	font-size: 36px;
}

.logo {
	padding: 20px 0;
}
/*end logo*/

.plus {
	vertical-align: middle;
	margin-right: 5px;
}

.newListHidden {
	display: none;
}

.newList {
	vertical-align: middle;
	height: 30px;
	width: 300px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-right: 25px;
}

.newListDiv {
	text-align: center;
	padding: 20px 0; 
	height: 60px;
}

.listNames h1 {
	color: #D90619;
	font-weight: 300;
	cursor: default;
}

/*dynamic list*/
.list {
	box-shadow: 0px 0px 10px 6px #999999;
	background: url("../images/paperTop450x430trans.png");
	background-repeat: repeat;
	min-height: 450px;
	text-align: center;
	margin-bottom: 50px;
}

.newListName {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	text-align: left;
	font-weight: 500;
	word-wrap: break-word;
}

h1.newListName {
	font-size: 30px;
	padding: 30px 0 35px 3px;
	width: 300px;
	cursor: default;
}

.scratchList {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 16px;
	color: #D90619;
	margin: 11px 0 0 0;
	cursor: pointer;
	float: right;
}

.scratchList:hover {
	color: black;
}

.scratchItems {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 16px;
	color: #D90619;
	font-weight: 400;
	text-align: right;
	width: 300px;
	margin:30px auto 10px auto;
	cursor: pointer;
	display: block;
}

.scratchItems:hover {
	color: black;
}

.addItem {
	width: 300px;
	height: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #000000;
}

.listItems li {
	font-weight: 300;
	margin: 0 auto;
	height: 40px;
	width: 300px;	
	cursor: default;
	text-align: left;
}

.li-box-checked {
	color: #824338;
}

.box {
	float:left;
	cursor: pointer;
	margin-right: 10px;
	height: 25px;
	width: 24px;
	display: block;
	background: url("../images/box.png"); 
	background-repeat: no-repeat;
}

.box:hover {
	background: url("../images/boxBrown.png");
	background-repeat: no-repeat;
}

.check {
	float:left;
	display: none;
	cursor: pointer;
	height: 25px;
	width: 22px;
	margin-right: 10px;
	display: block;
	background: url("../images/check.png");
	background-repeat: no-repeat;
}

.check:hover {
	background: url("../images/checkGray.png");
	background-repeat: no-repeat;
}

.ex {
	float: right;
	cursor: pointer;
	height: 25px;
	width: 22px;
	display: block;
	background: url("../images/ex.png");
	background-repeat: no-repeat;
}

.ex:hover {
	background: url("../images/exBlack.png");
	background-repeat: no-repeat;	
}

/*end dynamic list*/

/*for future use*/
/*.savedLists {
	display: none;
	cursor: default;
}

.savedLists>li:hover {
	font-weight: 300;
}*/






