
html {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hidden {
	display: none;
}

.logoBackground {
	border: 4px solid #494949;
	width: 175px;
	height: 175px;
	border-radius: 50%;
	margin: 30px auto 50px auto;
}

h1.shopurr {
	border: 4px solid #494949;
	font-family: 'Miniver', cursive;
	font-size: 30px;
	color: #D90619;
	text-align: center;
	background-color: white;
	height: 45px;
	width: 125px;
	border-radius: 5px;
	margin: 10px 0 0 0px;
	left: 50%;
	position: absolute;
	cursor: pointer;
}

.kitty	{
	background: url('../images/shopurrKitty500x462.png') no-repeat bottom;
	background-size: cover;
	height: 200px;
	width: 200px;
	left: 50%;
	margin: -20px 0 0 -135px;
	position: absolute;
}

.newListWrapper {
	border: 4px solid #494949;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #494949;
	font-size: 36px;
	text-align: center;
	height: 44px;
	width: 370px;
	margin: -20px auto 0 auto;
	border-radius: 10px;
}

input#newListInput[type=text] {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #494949;
	font-size: 36px;
	text-align: center;
	background: transparent;
	border: none;
	outline: none;
}

input#newListInput[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}

.listNameWrapper {
	display: none;
}

.listName {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #494949;
	font-size: 36px;
	text-align: center;
	overflow: hidden;
	width: 370px;
	left: 50%;
	margin: 0 0 0 -175px;
	position: absolute;
	cursor: default;	
}

.scratchList, .scratchItems {
	background-color: #D90619;
	font-size: 16px;
	color: white;
	text-align: center;
	line-height: 18px;
	letter-spacing: .5px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	margin-left: -65px;
	cursor: pointer;
	display: none;
}

.scratchList:hover, .scratchItems:hover {
	background-color: #494949;
}

.scratchList p, .scratchItems p {
	margin-top: 7px;
}

.scratchList {
	margin-top: -2px;
}

.scratchItems {
	margin-top: 64px;
}

.listWrapper {
	border: 4px solid #494949;
	text-align: center;
	padding: 20px 0;
	height: 400px;
	width: 370px;
	overflow: scroll;
  	border-radius: 10px;
	margin: 20px auto 0 auto;
	display: none;
}

input#newItem[type=text] {
	border: 2px solid #494949;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #494949;
	font-size: 30px;
	text-align: center;
	background: transparent;
	height: 34px;
	border-radius: 5px;
	outline: none;
}

.listItems {
	color: #494949;
	list-style: none;
	font-size: 28px;
	text-align: center;
	padding-left: 10px;
	width: 350px;
	position: relative;
}

.listItems li {
	text-align: center;
	background-color: #eaeaea;
	padding-top: 5px;
	height: 40px;
	border-radius: 5px;
	margin: 0 auto 10px auto;
}

.listItems p {
	display: inline;
	width: 200px;
}

.fa-square-o, .fa-check-square-o {
	position: absolute;
	left: 15px;
	margin-top: 4px;
	cursor: pointer;
}

.fa-times {
	position: absolute;
	right: 5px;
	margin-top: 3px;
	cursor: pointer;
}

.fa-square-o:hover, .fa-check-square-o:hover, .fa-times:hover {
	color: #D90619;
}

.gray {
	opacity: .55;
}
